<header>
    <mat-toolbar color="primary">L5 Digital Dealership</mat-toolbar>
</header>

<section class="container-fluid">
    <div class="row">
        <mat-card class="col-md-6">Navigation Component</mat-card>
        <!-- we use mat-card instead of div -->
        <mat-card class="col-md-6">Page Navigation Component</mat-card>
        <mat-card class="col-md-6 d-block d-lg-none">Mobile navigation</mat-card>
        <!-- will be hidden on large screens -->
        <mat-card class="col-md-6 d-block d-lg-none">Mobile page navigation</mat-card>
    </div>
    <div class="row">
        <mat-card class="col-md-12" style="min-height: 500px">
            <h1 align="center">Dashboard [Placeholder]</h1>
        </mat-card>
    </div>
    <div class="row">
        <mat-card class="col-md-6">Footer Navigation Component</mat-card>
        <!-- we use mat-card instead of div -->
        <mat-card class="col-md-6">Branding Component</mat-card>
        <mat-card class="col-md-6 d-block d-lg-none">Mobile footer</mat-card>
        <!-- will be hidden on large screens -->
        <mat-card class="col-md-6 d-block d-lg-none">Mobile branding</mat-card>
    </div>

</section>

<footer></footer>