<div class="row">
    <mat-card class="col-md-6">
        <mat-chip-list>
            <mat-chip color="accent" selected="true">Header Component</mat-chip>
        </mat-chip-list>
    </mat-card>
    <!-- we use mat-card instead of div -->
    <mat-card class="col-md-6">
        <mat-chip-list>
            <mat-chip color="accent" selected="true">Page Navigation Component</mat-chip>
        </mat-chip-list>
    </mat-card>
    <mat-card class="col-md-6 d-block d-lg-none">Mobile navigation</mat-card>
    <!-- will be hidden on large screens -->
    <mat-card class="col-md-6 d-block d-lg-none">Mobile page navigation</mat-card>
</div>